.head_wrapper {
  background: linear-gradient(to right, #5f2c82, #49a09d);
  /* border: 1px solid black; */
  height: 60px;
  color: #fff;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
}